Dit script leest de data van Techniek Nederland uit. En zet het in een dataframe, een excel. Belangrijk om toe te lichten is dat voor de uitvoering van dit script een aantal stappen zijn uitgevoerd om de data in JSON-formaat te krijgen. Deze handmatige stappen zijn nog niet geautomatiseerd. Om deze stappen nog verder te automatiseren is verder onderzoek nodig.

De volgende stappen zijn handmatig uitgevoerd voor het krijgen van een lijst in JSON-formaat, die vervolgens door python kan worden herkend en gebruikt: 

1. Gewenste data opzoeken website:
   Website van Techniek Nederland geopend en vervolgens met een zoekopdracht alle 'duurzame' installatiebedrijven opgezocht.
   
2. Console data (list) als object kopiëren
   Door F12 te gebruiken wordt de terminal geopend. Door vervolgens naar de console te gaan, wordt een lijst met 'objects' en 'lists'
   getoond die op de webpagina staan. Het object met de bedrijfsinformatie is gekopieerd. 
  
3. Plakken in JSON-formaat
   De gekopieerde bedrijfsinformatie wordt vervolgens in kladblok of notepad++ opgeslagen in JSON-formaat.

De volgende stappen worden door python uitgevoerd:

1. De 'library'/ module pandas wordt geïmporteerd om de data te kunnen bewerken.
2. Vervolgens wordt het JSON-bestand ingelezen en als dataframe (variabele) weergegeven.
3. De gewenste kolommen worden geselecteerd en het dataframe wordt hernoemd.
4. Het dataframe wordt vervolgens opgeslagen als excel.

Pandas importeren

In [3]:
import pandas as pd
import numpy as np

JSON bestand inlezen als dataframe

In [5]:
df = pd.read_json(r'C:\Users\LucasBoltFlinkernl\OneDrive - Flinker B.V\Python\companies.json')

Gewenste kolommen selecteren

In [7]:
# Select required columns and rename them
df_selected = df[['Name', 'Site', 'Phone']]
df_selected.columns = ['Naam', 'Website', 'Telefoonnummer']

Bestand opslaan als excel-bestand

In [30]:
# Save to an xls file
xls_path = r'C:\Users\LucasBoltFlinkernl\OneDrive - Flinker B.V\Python\Resultaat\companies_compleet.xlsx'
df.to_excel(xls_path, index=False)
 
xls_path

'C:\\Users\\LucasBoltFlinkernl\\OneDrive - Flinker B.V\\Python\\Resultaat\\companies_compleet.xlsx'

In [10]:
df = pd.DataFrame(df)

In [11]:
df.head()

,Id,Name,AltName,Site,Phone,Mail,Loc.,Kwaliteitreg,Specialismen,Rate,RateUrl,RateAmount,Lat,Lng,relevantScore,resultsLeft
0,123413.0,JNC Elektrotechniek BV,None,www.jnce.nl,0306372982,Info@jnce.nl,"De Brug 4, HOUTEN",[2110],[1379],10,https://www.klantenvertellen.nl/reviews/102726...,5.0,52.024085,5.158531,0.0,NaN
1,125460.0,ST/Warmte B.V.,None,www.stwarmte.nl,0172574691,info@stwarmte.nl,"Energieweg 43, NIEUWKOOP","[1876, 2091, 2123, 2150, 2250, 2276, 2279, 228...","[1379, 1380, 1381, 1382, 1462]",10,https://www.klantenvertellen.nl/reviews/102864...,17.0,52.162841,4.779912,0.0,NaN
2,153303.0,Queens Airco & Elektrotechniek B.V.,None,www.aircoservicequeens.nl,0246963455,info@aircoservicequeens.nl,"Rijksweg 35, MOLENHOEK LB","[1876, 2110]","[1379, 1382]",10,https://www.klantenvertellen.nl/reviews/102469...,21.0,51.758570,5.871937,0.0,NaN
3,157546.0,Benjert Installatietechniek,None,www.benjertinstallatie.nl,0627484552,info@benjertinstallatie.nl,"Johannis Bogaardstraat 23, NIEUW-VENNEP","[1803, 2123, 2150, 2250, 2334]","[1380, 1381, 1462]",10,https://www.klantenvertellen.nl/reviews/102496...,9.0,52.264593,4.626028,0.0,NaN
4,158245.0,Van Leeuwen Elektra B.V.,None,www.vanleeuwenelektra.nl,0206402266,info@vlebv.nl,"Schinkeldijkje 16-X, AALSMEER",[2110],"[1379, 1462]",10,https://www.klantenvertellen.nl/reviews/102930...,8.0,52.290714,4.821824,0.0,NaN

In [28]:
df_sorted = df.sort_values(by=['Rate'], ascending=False)
df_def = df_sorted[['Name','Site', 'Loc.', 'Rate', 'Phone', 'Mail']]

df_selected = df_def[['Name','Site', 'Loc.', 'Rate', 'Phone', 'Mail']]
df_selected.columns = ['Naam Verkooprelatie', 'Website', 'Adres', 'Beoordeling', 'Telefoonnummer', 'E-mail']


xls_path = r'C:\Users\LucasBoltFlinkernl\OneDrive - Flinker B.V\Python\Resultaat\companies_sorted.xlsx'
df_def.to_excel(xls_path, index=False)
 
xls_path

'C:\\Users\\LucasBoltFlinkernl\\OneDrive - Flinker B.V\\Python\\Resultaat\\companies_sorted.xlsx'